@using AJ3.WebApp.Infrastructure.Extensions
@using AJ3.Core.Common
@model IEnumerable<StudentOrderPaymentViewModel>
<div class="timeline timeline-3">
    <div class="timeline-items">
        @foreach (var payment in Model)
        {
            <div class="timeline-item">
                <div class="timeline-media">
                    <i class="flaticon2-check-mark text-success"></i>
                </div>
                <div class="timeline-content">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="mr-2">
                            <a class="text-dark-75 text-hover-primary font-weight-bold">OR NUMBER:<em>@payment.OrNumber</em></a>
                            <span class="text-muted ml-2" title="@payment.DateCreated.ToString("F")">@payment.DisplayDateRecorded</span>
                            @* <span class="label label-light-success font-weight-bolder label-inline ml-2">new</span>*@
                        </div>
                        @if (!User.Identity.Name.Contains("AJ3"))
                        {
                            <div class="dropdown ml-2" data-toggle="tooltip" title="Quick actions" data-placement="left">
                                <a href="#" class="btn btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ki ki-more-hor font-size-lg text-primary"></i>
                                </a>
                                <div class="dropdown-menu p-0 m-0 dropdown-menu-sm dropdown-menu-right">
                                    <ul class="navi navi-hover">
                                        <li class="navi-item">
                                            <a onclick="StudentProfile.getOrderPaymentForm(@payment.Id, @ViewBag.StudentId, @payment.Amount, '@FormView.Update')" class="navi-link cursor-pointer">
                                                <span class="navi-icon">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </span>
                                                <span class="navi-text">Update</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                    <h6 class="font-weight-bold font-size-base  mb-3">Payment Details:</h6>
                    <table class="w-100">
                        <tr>
                            <td class="font-weight-bold text-muted">Amount Paid:</td>
                            <td class="font-weight-bold text-danger text-right">@payment.Amount.ToPhFormatCurrency()</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-muted">Payment Date:</td>
                            <td class="font-weight-bold text-right">@payment.PaymentDate.ToLongDateString()</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-muted">Reference Id:</td>
                            <td class="font-weight-bold text-right">@payment.PaymentId</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-muted">User:</td>
                            <td class="font-weight-bold text-right">@payment.UpdatedBy</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-muted">Updated Date:</td>
                            <td class="font-weight-light text-right">@payment.DateUpdated.ToString("F")</td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
